* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    max-width: 1008px;
    margin: 70px auto;
}

main .top {
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 22px;
    padding-bottom: 42px;
}

main .top h1 {
    font-size: 48px;
    font-weight: 700;
}

main .top form {
    display: flex;
    align-items: center;
    grid-gap: 8px;
}

main .top form input {
    width: 321px;
    height: 42px;
    padding: 13px 20px;
    border: 2px solid #007FFF;
    border-radius: 10px;
}

main .top form button {
    width: 155px;
    height: 42px;
    padding: 10px 60px;
    color: #fff;
    font-size: 18px;
    background-color: #007FFF;
    border-radius: 10px;
    border: none;
}

.bottom {
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

main .bottom .item {
    background-color: rgba(158, 160, 153, 0.555);
    border-radius: 10px;
    padding: 23px;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

main .bottom .item .delete {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
}